
<br>
<div style="overflow:auto;">
  <table id="searchTable">
    <thead><tr><th>Читатель</th><th>Дата рождения</th><th>Телефон</th><th>Эл почта</th><th>Адрес</th><th>Статус</th>
      <th>Редактирование</th></tr></thead>
      <tbody>
              <tr *ngFor="let item of values" (click)="openIssuedBookForm(this.item.id)">

                  <td>{{item.reader}}</td>
                  <td>{{item.dateBirth}}</td>
                  <td>{{item.numberPhone}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.status}}</td>
                  <td>
                      <button (click)="openEditForm(this.item.id)">🖊</button>
                  </td>
              </tr>

      </tbody>
  </table>
</div>

<div [ngStyle]="{display: this.statusAddForm}" class="form-popup" id="addForm">
  <form action="/AddReader" method="post" class="form-container">
      <h1>Добавление читателя</h1>
      <label>ФИО</label>
      <input type='text' name='reader' [(ngModel)]="addForm.reader" required/>
      <label>Дата рождения</label>
      <input type='date' name='dateBirth' max="2022-10-11" [(ngModel)]="addForm.dateBirth" required/>
      <label>Телефон</label>
      <input type='text' name='numberPhone' [(ngModel)]="addForm.numberPhone" required/>
      <label>Эл почта</label>
      <input type='text' name='email' [(ngModel)]="addForm.email" required/>
      <label>Адрес</label>
      <input type='text' name='address' [(ngModel)]="addForm.address" required/>
      <input class="btn" type='submit' (click)="printAddForm()" value='Добавить читателя' />
      <button type="button" class="btn cancel" (click)="change()">Закрыть без сохранения</button>
  </form>
</div>

<div [ngStyle]="{display: this.statusEditForm}" class="form-popup" id="editForm">
  <form action="/UpdateReader" method="post" class="form-container" >
      <h1>Редактирование читателя</h1>
       <input hidden id="id" name='id' [(ngModel)]="editForm.id"/>
      <label>ФИО</label>
      <input type='text' name='reader' [(ngModel)]="editForm.reader"/>
      <label>Дата рождения</label>
      <input  type='date' name='dateBirth' max="2022-10-11" [(ngModel)]="editForm.dateBirth"/>
      <label>Телефон</label>
      <input type='text' name='numberPhone' [(ngModel)]="editForm.numberPhone"/>
      <label>Эл почта</label>
      <input type='text' name='email' [(ngModel)]="editForm.email"/>
      <label>Адрес</label>
      <input type='text' name='address' [(ngModel)]="editForm.address"/>
      <input class="btn" type='submit' (click)="printEditForm()" value='Обновить читателя' />
      <button type="button" class="btn cancel" (click)="openEditForm(0)">Закрыть без сохранения</button>
  </form>
</div>

<div [ngStyle]="{display: this.statusIssuedBookForm}" class="form-popup" id="readerForm">
  <form action="/AddIssuedBook" method="post" class="form-container">
      <h1>Выдача книги</h1>
      <input hidden id="idIssuedBook" name='id' [(ngModel)]="issuedBookForm.id"/>
      <label>Название книги</label>
      <input type='text' name='nameBook' [(ngModel)]="issuedBookForm.nameBook" required/>
      <label>Автор</label>
       <input type='text' name='author' [(ngModel)]="issuedBookForm.author" required/>
      <label>Дата сдачи</label>
      <input type='date' name='dateOfDelivery' min="2022-10-11" [(ngModel)]="issuedBookForm.dateOfDelivery" required/>
      <input class="btn" type='submit' (click)="printIssuedBookForm()" value='Выдать книгу'/>
      <button type="button" class="btn cancel" (click)="openIssuedBookForm(0)">Закрыть</button>
  </form>
</div>

<a (click)="change()" class="add">+</a>
